{% extends 'shop/basic.html' %}

{% block title %} Chekcout {% endblock %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items</h2>
        <div class="my-4" >
            <ul class="list-group" id="items">
                
            </ul>
        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & Other Details</h2>
        <form action="/shop/checkout/" method="post"> {% csrf_token %}
            <!-- This is the hidden input, where all the cart products will store as Json -->
            <input type="hidden" name="itemsJson" id="itemsJson">
            <div class="form-group">
                <label for="name"> Full Name</label>
                <input type="name" class="form-control" name="name" id="name" placeholder="Enter Your Full Name" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" name="phone" id="phone" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" name="address" rows="3" required=""></textarea>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" placeholder="Enter City" name="city" class="form-control" id="city" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="Enter State" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="zip_code">Zip</label>
                    <input type="text" class="form-control" name="zip_code" id="zip_code" required>
                </div>
            </div>

            <button type="submit"  class="btn btn-primary ">Place Order</button>
            <!-- Just checking -->
            <!-- <span class="sub">
                <button type="submit" onclick="myFunction()" class="btn btn-primary ">Place Order</button>
            </span> -->
            
        </form>
    </div>
</div>
{% endblock %} <!-- Body Block END -->

{% block js %}
<script>
    if(localStorage.getItem('cart') == null){
        var cart = {};
    }else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    var sum = 0;
    // Check the cart is empty or not, by using JQuery
    if($.isEmptyObject(cart)){ 
        // If the cart is empty show this message
        myStr = `<p>Your Cart is Empty, Please add some items to your cart before checking out!</p>`;
        $('#items').append(myStr); // Show the message In the <ul class="list-group" id="items"></ul>
    }else{
        // If the cart is not empty then, show the items in the checkout page
        for(item in cart){
            let name = cart[item][1];
            let qty = cart[item][0];
            sum = sum + qty;
            myStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                    </li>`;
            $('#items').append(myStr); // Show the message In the <ul class="list-group" id="items"></ul>
        }
    }

    document.getElementById('cart').innerHTML = sum; //Update the navbar's cart button's value


    // Pass all the ordered product details in the hidden input tag
    $('#itemsJson').val(JSON.stringify(cart));

    // Show message after succesfully place an order, and redirect the page location
    /* {% if thank %}
    alert("Your Order is succesfully Placed, Thanks for shopping from us. Your order ID is #{{id}}. Use this ID for track your order");
    localStorage.clear();
    document.location = '/shop';
    {% endif %} */
    
    // We can use this Approach Also
    if("{{thank}}" == "True"){
        alert("Your Order is succesfully Placed, Thanks for shopping from us. Your order ID is #{{id}}. Use this ID for track your order");
        localStorage.clear();
        document.location = '/shop';
    }

    // Just checking the Alert on submit button
    function myFunction() {
            alert("Checking Alert Function.");
        }
</script>
{% endblock %} <!-- JS Block END -->